:root {
	--main-bg-color: white;
	--content-bg-color: #eeeeee;
	--panel-border-color: #cccccc;
	--control-border-color: #222222;
	--link-color: darkblue;
	--error-color: brown;

	--text-font: Arial, sans-serif;
	--field-text-font: monospace;

	--std-padding: 1rem;
}

@media screen and (max-width:920px) {
	body {
		margin-left: var(--std-padding);
		margin-right: var(--std-padding);
	}
	.fulluri {
		display: none;
	}
 }

 @media screen and (min-width:921px) and (max-width:1200px) {
	body {
		margin-left: var(--std-padding);
		margin-right: var(--std-padding);
	}
	.shorturi {
		display: none;		
	}
 }

 @media screen and (min-width:1200px) {
	body {
		margin-left: 20%;
		margin-right: 20%;
	}	
	.shorturi {
		display: none;		
	}
 }

 @media print {
	body {
		background-color: white;
	}
 }

 @media screen {
	body {
		background-color: var(--main-bg-color);
	}
 }


body {
	font-family: var(--text-font);
	font-display: fallback;	
}	

 a {
	text-decoration: none;
 }

 div {
	margin-top: 0.3em;
 }

 .header {
	display: inline-block;
	margin-top: 4px;
 }

.pagelogo {
	float: left;
	margin: 0px;
	padding-right: var(--std-padding);
}

.pageheading {
	float: left;
	margin-top: 0;
	margin-bottom: 0;
}

.homecontainer {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.homepanel {
	border: var(--panel-border-color) solid 1px;
	border-radius: var(--std-padding);
	padding: var(--std-padding);
	flex-grow: 1;
}

 .linkset {

 }

 .pagemenu {
	display: flow-root;
 }

.leftlink {
	float: left;
}

.rightlink {
	float: right
}

 .fieldset {
	display: grid;
	gap: var(--std-padding);
	grid-template-columns: max-content max-content;
 }

 .fieldrow {

 }

 .fieldprompt {
	margin-top: 8px;
 }

 .fieldvalue {
	font-family: var(--field-text-font);
	font-size: larger;
	padding-top: 3px;
 }

 a {
	color: var(--link-color);
 }

 a:hover {
	text-decoration: underline;	
 }

 a:visited {
	color: var(--link-color);
 }

 .uri {
	font-family: var(--field-text-font);
 }

 li {
	padding: 2px 2px 6px 2px;
 }

.error {
	color: var(--error-color);
}

button input[type=button], input[type=submit], input[type=reset] {
	padding: 8px 16px;
	border-radius: 8px;
	border-width: 2px;
	border-color: var(--control-border-color);
	text-decoration: none;
	font-weight: bold;
	color: var(--link-color);
	margin: 4px 2px;
	cursor: pointer;
}

#username {
	font-style: italic;
}

.docview {
	background-color: var(--content-bg-color);
	border-style: solid;
	border-color: var(--panel-border-color);
	border-width: 2px;
	border-radius: var(--std-padding);
	padding-left: var(--std-padding);
	padding-right: var(--std-padding);
	padding-bottom: var(--std-padding);
	margin-top: var(--std-padding);
}

.docpara {
	margin-bottom: 0.5em;
}

table.searchresults {
	border-collapse: collapse;
	text-align: left;
}

td, th {
	vertical-align: top;
	padding: var(--std-padding);
}