@media screen and (max-width:920px) {
	body {
		margin-left: 1em;
		margin-right: 1em;
	}
	.fulluri {
		display: none;
	}
 }

 @media screen and (min-width:921px) and (max-width:1200px) {
	body {
		margin-left: 1em;
		margin-right: 1em;
	}
	.shorturi {
		display: none;		
	}
 }

 @media screen and (min-width:1200px) {
	body {
		margin-left: 20%;
		margin-right: 20%;
	}	
	.shorturi {
		display: none;		
	}
 }

 @media print {
	body {
		background-color: white;
	}
 }

body {
	font-family: Arial, sans-serif;
	font-display: fallback;
}	

 a {
	text-decoration: none;
 }

 div {
	margin-top: 0.3em;
 }

 .header {
	display: inline-block;
	margin-top: 4px;
 }

.pagelogo {
	float: left;
	margin: 0px;
	padding-right: 1em;
}

.pageheading {
	float: left;
	margin-top: 0;
	margin-bottom: 0;
}

 .linkset {

 }

.leftlink {
	float: left;
}

.rightlink {
	float: right
}

 .fieldset {
	display: grid;
	gap: 1em;
	grid-template-columns: max-content max-content;
 }

 .fieldrow {

 }

 .fieldprompt {
 }

 .fieldvalue {
	font-family: monospace;
	font-size: larger;
 }

 a:hover {
	text-decoration: underline;
 }

 .uri {
	font-family: monospace;
 }

 li {
	padding-bottom: 4px;
 }

.error {
	color: brown;
}

button input[type=button], input[type=submit], input[type=reset] {
	padding: 8px 16px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}