    <div id="content">
        <h2>Search results (htmx)</h2>

        <div>Searching for: {{.Detail.Query}}</div>
        
        {{if .Detail.Results}}
        <table class="searchresults">
            <tr>
                <th>Type</th>
                <th>Summary</th>
                <th>URI</th>
            </tr>
            {{range $ref := .Detail.Results}}
            <tr>
                <td>
                    {{$ref.Uri.Kind}}
                </td>
                <td>
                    {{$ref.Content}}
                </td>
                <td>
                    <a hx-get="{{$ref.Uri.WebPath}}" hx-select-oob="#content" hx-push-url="true">{{$ref.Uri.Short}}</a>
                </td>
            </tr>           
            {{end}}    
        </table>
        {{else}}
        <div id="noresults">
            No matching values found.
        </div>
        {{end}}

    </div>