{{define "base"}}
<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Trusted Assertions framework">
    <meta name=”robots” content=”noindex”>
    <title>Trusted Assertions</title>
    <link rel="stylesheet" href="/web/static/default.css">
    <link href="/web/static/TickSpeech.svg" rel="icon" type="image/svg" />
</head>

<body>
    <div class="header">
        <div class="pagelogo">
            <a href="/" aria-label="Return to home page">
                <img src="/web/static/TickSpeech.svg" alt="Site logo" height="32px">
            </a>
        </div>
        <h1 class="pageheading">Trusted Assertions</h1>
    </div>
    <div id="pagemenu">
        <hr>
        <nav class="pagemenu">
            <span class="leftlink">
                {{range $item := .LeftMenu.Items}}
                    <span>
                        {{$item.Separator}}
                        {{if $item.IsLink}}
                            <a href="{{$item.Target}}">{{$item.Text}}</a>
                        {{else}}
                            {{$item.Text}}
                        {{end}}                    
                    </span>
                {{end}}            
            </span>
            <span class="rightlink">
                {{range $item := .RightMenu.Items}}
                    <span>
                        {{$item.Separator}}
                        {{if $item.IsLink}}
                            <a href="{{$item.Target}}">{{$item.Text}}</a>
                        {{else}}
                            {{$item.Text}}
                        {{end}}                    
                    </span>
                {{end}}            
            </span>
        </nav>
        <hr>
    </div>
    <div id="content">
    	{{template "content" .}}
    </div>
    <div class="footer">
        &nbsp;
    </div>
</body>
</html>
{{end}}