{{define "base"}}
<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Trusted Assertions framework">
    <meta name=”robots” content=”noindex”>
    <title>Trusted Assertions</title>
    <link rel="stylesheet" href="/static/default.css">
    <link href="/static/TickSpeech.svg" rel="icon" type="image/svg" />
</head>

<body>
    <div class="header">
        <div class="pagelogo">
            <a href="/" aria-label="Return to home page">
                <img src="/static/TickSpeech.svg" alt="Site logo" height="32px">
            </a>
        </div>
        <h1 class="pageheading">Trusted Assertions</h1>
    </div>
    <div id="pagemenu">
        <hr>
        <div class="pagemenu">
            <span class="leftlink">
                {{range $item := .LeftMenu.Items}}
                    <span>
                        {{$item.Separator}}
                        {{if $item.IsLink}}
                            <a href="{{$item.Target}}">{{$item.Text}}</a>
                        {{else}}
                            {{$item.Text}}
                        {{end}}                    
                    </span>
                {{end}}            
            </span>
            <span class="rightlink">
                {{range $item := .RightMenu.Items}}
                    <span>
                        {{$item.Separator}}
                        {{if $item.IsLink}}
                            <a href="{{$item.Target}}">{{$item.Text}}</a>
                        {{else}}
                            {{$item.Text}}
                        {{end}}                    
                    </span>
                {{end}}            
            </span>
        </div>
        <hr>
    </div>
    <div id="content">
    	{{template "content" .}}
    </div>
    <div class="footer">
        <!-- <hr>
        <div class="linkset">
            <span class="leftlink">&nbsp;|&nbsp;<a href="/">Home</a>&nbsp;|&nbsp;</span>
            <span class="rightlink">
                {{if .LoggedIn}}
                    <span id="username">{{.AuthName}}</span>
                    &nbsp;|&nbsp;<a href="/web/logout">Logout</a>&nbsp;|&nbsp;
                {{else}}
                    &nbsp;|&nbsp;<a href="/web/login">Login</a>&nbsp;|&nbsp;
                {{end}}
            </span>
        </div> -->
    </div>
</body>
</html>
{{end}}