{{define "base"}}
<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trusted Assertions</title>
    <link rel="stylesheet" href="/static/default.css">
    <link href="/static/verified.svg" rel="icon" type="image/svg" />
</head>

<body>
    <div id="content">
    	{{template "content" .}}
    </div>
    <div class="footer">
        <hr>
        <div class="linkset">
            <span class="leftlink">&nbsp;|&nbsp;<a href="/">Home</a>&nbsp;|&nbsp;</span>
            <span class="rightlink">
                {{if .LoggedIn}}
                    <span id="username">{{.AuthUser}}</span>
                    &nbsp;|&nbsp;<a href="/web/logout">Logout</a>&nbsp;|&nbsp;
                {{else}}
                    &nbsp;|&nbsp;<a href="/web/login">Login</a>&nbsp;|&nbsp;
                {{end}}
            </span>
        </div>
    </div>
</body>
</html>
{{end}}