{{define "content"}}		
        <div>
            <form id="searchform" method="get" action="/web/search">
                <div>
                    <label for="query">Search for:</label><br>
                    <input id="query" name="query" width="30" autofocus></input>
                </div>
                <div>
                    <input id="submitsearch" type="Submit" value="Search">
            </div>

            </form>
        </div>
        <ul>
            <li>
                <a href="/web/statements/e88688ef18e5c82bb8ea474eceeac8c6eb81d20ec8d903750753d3137865d10f">Sample statement</a>
            </li>
            <li>
                <a href="/web/entities/177ed36580cf1ed395e1d0d3a7709993ac1599ee844dc4cf5b9573a1265df2db">Sample entity</a>
            </li>            
            <li>
                <a href="/web/assertions/514518bb09d57524bc6b96842721e4c4404cb4a3329aadf1761bb3eddb2832da">Sample assertion</a>
            </li>
            {{if .LoggedIn}}
            <li>
                <a href="/web/newstatement">New Statement and Assertion</a>
            </li>
            {{end}}
        </ul>
{{end}}