{{define "content"}}		
        <div class="homecontainer">
            <div class="homepanel">
                <form id="searchform" method="get" action="/web/search">
                    {{.CsrfField}}
                    <div>
                        <label for="query">Search for:</label><br>
                        <input id="query" name="query" width="30" autofocus></input>
                    </div>
                    <div>
                        <input id="submitsearch" type="Submit" value="Search">
                </div>

                </form>
            </div>
            {{if .LoggedIn}}
            <div class="homepanel">
                <div>Create new...</div>
                <ul>
                    <li>
                        <a href="/web/newstatement">Statement and Assertion</a>
                    </li>    
                    <li>
                        <a href="/web/newentity">Entity with signing key</a>
                    </li>    
                </ul>
            </div>
            {{end}}
            <!-- <div class="homepanel">
                <div>Sample data...</div>
                <ul>
                    <li>
                        <a href="/web/statements/e88688ef18e5c82bb8ea474eceeac8c6eb81d20ec8d903750753d3137865d10f">Statement</a>
                    </li>
                    <li>
                        <a href="/web/entities/177ed36580cf1ed395e1d0d3a7709993ac1599ee844dc4cf5b9573a1265df2db">Entity</a>
                    </li>            
                    <li>
                        <a href="/web/assertions/514518bb09d57524bc6b96842721e4c4404cb4a3329aadf1761bb3eddb2832da">Assertion</a>
                    </li>
                    <li>
                        <a href="/web/search?query=GL93J73C">Document</a>
                    </li>
                </ul>
            </div> -->
        </div>
{{end}}