{{define "content"}}		
        <h2>Search results</h2>

        <div>Searching for: {{.Detail.Query}}</div>
        
        {{if .Detail.Results}}
        <table class="searchresults">
            <tr>
                <th>Type</th>
                <th>Summary</th>
                <th>URI</th>
            </tr>
            {{range $ref := .Detail.Results}}
            <tr>
                <td>
                    {{$ref.Uri.Kind}}
                </td>
                <td>
                    {{$ref.Content}}
                </td>
                <td>
                    <a href="{{$ref.Uri.WebPath}}">{{$ref.Uri.Short}}</a>
                </td>
            </tr>           
            {{end}}    
        </table>
        {{else}}
        <div id="noresults">
            No matching values found.
        </div>
        {{end}}

{{end}}