{{define "content"}}		
        <h1>View Statement</h1>

        <div class="fieldset">
            <div class="fieldprompt">ID:</div>
            <div id="uri" class="fieldvalue">{{.Uri}}</div>

            <div class="fieldprompt">Text:</div>
            <div id="content" class="fieldvalue" disabled>{{.Content}}</div>   
        </div>

        <hr/>
        <h2>References</h2>
        <ul>
            {{range $ref := .References}}
                <li><a href="{{$ref.Uri.WebPath}}">{{$ref.Summary}} [{{$ref.Uri.Short}}]</a></li>
            {{end}}
        </ul>
        <hr/>
        <div>
            <a href="{{.ApiLink}}">Raw Data</a>
        </div>
{{end}}