{{define "content"}}		
        <h2>View Profile</h2>

        <div class="fieldset">
            <div class="fieldprompt">User ID:</div>
            <div class="fieldvalue">
                {{.Detail.UserName}}
            </div>
        </div>

        <h3>Signing Key Access</h3>
        <ul>
            {{range $entity := .Detail.Entities}}
                <li>
                    <a href="{{$entity.Uri.WebPath}}">{{$entity.CommonName}}</a>                    
                </li>
            {{end}}

        </ul>
{{end}}