{{define "content"}}		
        <h2>View Assertion</h2>

        <div class="fieldset">
            <div class="fieldprompt">ID:</div>
            <div class="fieldvalue" id="uri">
                <span class="fulluri">{{.Detail.Uri}}</span>
                <span class="shorturi">{{.Detail.ShortUri}}</span>

            </div>

            <div class="fieldprompt">Issuer:</div>
            <div class="fieldvalue">
                <a href="{{.Detail.IssuerLink}}">{{.Detail.Assertion.Issuer}}</a>
                <br>
                <span id="issuername">{{.Detail.IssuerName}}</span>
            </div>            

            <div class="fieldprompt">Subject:</div>
            <div class="fieldvalue">
                <a href="{{.Detail.SubjectLink}}">{{.Detail.Assertion.Subject}}</a>
                <br>
                <span id="subjecttext">{{.Detail.SubjectText}}</span>
            </div>

            <div class="fieldprompt">Category:</div>
            <div class="fieldvalue" id="category">{{.Detail.Assertion.Category}}</div>

            <div class="fieldprompt">Confidence:</div>
            <div class="fieldvalue">{{.Detail.Assertion.Confidence}}</div>
        </div>

        <h3>References</h3>
        <ul>
            {{range $ref := .Detail.References}}
                <li><a href="{{$ref.Uri.WebPath}}">{{$ref.Summary}} [{{$ref.Uri.Short}}]</a></li>
            {{end}}
        </ul>

{{end}}