{{define "content"}}		
        <h2>View Entity</h2>

        <div class="fieldset">
            <div class="fieldprompt">ID:</div>
            <div class="fieldvalue" id="uri">
                <span class="fulluri">{{.Detail.Uri}}</span>
                <span class="shorturi">{{.Detail.ShortUri}}</span>
            </div>
            <div class="fieldprompt">Name:</div>
            <div class="fieldvalue" id="common_name">{{.Detail.CommonName}}</div>
        </div>
        
        <hr>
        
        <h3>References</h3>
        <ul>
            {{range $ref := .Detail.References}}
            <li><a href="{{$ref.Uri.WebPath}}">{{$ref.Summary}}</a></li>
            {{end}}
        </ul>
        <hr/>
        <div>
            <a href="{{.Detail.ApiLink}}">Raw Data</a>
        </div>

{{end}}