{{define "content"}}		
        <h2>View Statement</h2>

        <div class="fieldset">
            <div class="fieldprompt">ID:</div>
            <div id="uri" class="fieldvalue">{{.Detail.Uri}}</div>

            <div class="fieldprompt">Text:</div>
            <div id="content" class="fieldvalue" disabled>{{.Detail.Content}}</div>   
        </div>

        <h3>References</h3>
        <ul>
            {{range $ref := .Detail.References}}
                <li><a href="{{$ref.Uri.WebPath}}">{{$ref.Summary}} [{{$ref.Uri.Short}}]</a></li>
            {{end}}
        </ul>
        <hr/>
        <div>
            <a href="{{.Detail.ApiLink}}">Raw Data</a>
        </div>
{{end}}